.body-heading {
    color: $black;
}
.array-box {
    width: 90%;
    max-width: 90%;
    height: 300px;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    margin: 0 auto;
    align-items: baseline;
    .array-entry {
        width: 6px;
        background: $main-gradient;
        border-radius: 8px 8px 0 0;
        margin: 1px;
        transition: height 5ms, width 500ms, background 50ms;
    }
    .being-swapped {
        background: $swap-accent;
        transition: height 5ms, background 50ms;
    }
    .being-compared {
        background: rgb(0, 51, 128);
    }
    .error {
        background: rgb(128, 19, 0);
    }
}
