.body-heading {
  color: $black;
}
.array-box {
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  .array-entry {
    background: $main-gradient;
    border-radius: 8px 8px 16px 16px;
    margin: 1px;
    transition: height 5ms, width 50ms, background 100ms;
    .array-digit {
      font-size: 1vw;
      padding-top: 20px;
      margin: 0 auto;
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
      transition: color 50ms;
    }
  }
  .being-swapped {
    background: $swap-gradient;
    transition: height 5ms, background 100ms;
    .array-digit {
      color: rgb(255, 255, 255);
      transition: color 50ms;
      background-color: rgba(51, 51, 51, 0.568);
    }
  }
  .being-compared {
    background: $comp-gradient;
    transition: height 5ms, background 100ms;
    .array-digit {
      color: rgb(255, 255, 255);
      transition: color 50ms;
      background-color: rgba(51, 51, 51, 0.568);
    }
  }
  .error {
    background: rgb(128, 19, 0);
  }
}
