.header-main {
    background-image: $main-gradient;
    color: $black;
    padding: 10px;
    width: 100%;
    @include flex-center();
    justify-content: space-evenly;
    .header-select {
        border: 0;
        background-color: rgba(0, 0, 0, 0.144);
        border-radius: 10px;
        color: white;
        .react-dropdown-select-item {
            color: $black;
        }
        ::placeholder {
            color: white;
        }
    }
    .header-brand {
        @include flex-center();
        width: 150px;
        font-size: large;
    }
}
.header-footer {
    height: auto;
    padding: 10px;
    width: 100%;
    color: white;
    background: $main-accent-dark;
    .slider{
        margin: 0 10px;
    }
    .options {
        margin: 0 auto;
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        button {
            border-radius: 10px;
            border: 0;
            color: white;
            padding: 5px 20px;
            margin-right: 20px;
            cursor: pointer;
        }
        .start {
            background-color: rgb(67, 148, 67);
            transition: 200ms background-color;
            &:hover {
                background-color: rgb(67, 148, 67) - 50;
            }
        }
        .stop {
            background-color: rgb(216, 49, 49);
            transition: 200ms background-color;
            &:hover {
                background-color: rgb(216, 49, 49) - 50;
            }
        }
        .disabled {
            background-color: rgba(0, 0, 0, 0.212);
            color: #333;
            transition: 200ms background-color;
            cursor: not-allowed;
        }
    }
}
